
.center {
  text-align: center;
}

.container div {
margin-left: auto;
margin-right: auto;
}


.flashcard {
  border: 1px solid black;
  width: 80%;
  margin: 10px;
  transition-duration: 1.5s;
  text-align: center;
  border-radius: 25px;
}

.flashcard p {
  display: none;
  margin-left: 10px;
  margin-right: 10px;
}

.flashcard h2 {
}

.blue {
  color: blue;
  transition-duration: 2s;
}

.bigger {
  font-size: 12pt;
  background-color: black;
  color: white;
  transition-duration: 1.5s;
  width: 100%;
  box-shadow: 10px 10px 5px #888888;
}
